.addon-tabs-container {
  .iframe-wrapper {
    position: relative;
    min-height: 300px;
  }

  .loader-overlay {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    z-index: 10;
  }

  .addon-iframe {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
}
