.global-overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.85);
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(3px);
  transition: opacity 0.3s ease-in-out;
}

button[disabled] {
  opacity: 0.6;
  pointer-events: none;
}
